#logo{
width:10%;
height:50%;
left:2%;
top:30%;
position:absolute;
}
.body{
background-color:#f2f2f2;
font-family:"Roboto Condensed",sans-serif;

}
#menuTable{
background:white;
width:100%;
height:10%;
position:fixed;
left:0;
top:0;
border-color:black;
border-bottom:solid;
border-width:1px;
border-width:0.1vw;
z-index:2;
}
#searchQuery{
width:50%;
height:60%;
position:absolute;
top:30%;
left:15%;
background-color:#d6d6d6;
border-style:none;
font-size:10px;
font-size:1.1vw;
padding:1%;
-webkit-appearance:none;
border-radius:0px;
}
#search{
width:20%;
height:60%;
position:absolute;
top:30%;
left:65%;
background-color:#ff9224;
border-style:none;
border-radius: 0px 0px 0px 0px;
-webkit-appearance:none;
color:white;
font-weight:bold;
font-size:10px;
font-size:1.1vw;
}
#cart{
background-color:white;
background-image:url("images/carticon.png");
background-size:100% 100%;
border-style:none;
position:absolute;
left:88%;
top:30%;
width:3%;
height:60%;
}
#loginButton{
background-color:white;
color:black;
width:5%;
height:60%;
font-weight:bold;
position:absolute;
top:30%;
left:93%;
font-size:10px;
font-size:0.9vw;
border-style:none;
-webkit-appearance:none;
}
@keyframes myAnimationLoginShow{
from{visibility:hidden; opacity:0;}
to{visibility:visible; opacity:1;}
}
@keyframes myAnimationLoginFade{
from{visibility:visible; opacity:1;}
to{visibility:hidden; opacity:0;}
}
#loginDiv{
background-color:white;
color:black;
position:absolute;
top:100%;
right:0;
height:210%;
width:15%;
border-style:solid;
border-color:#b3b3b3;
border-width:1px;
border-width:0.1vw;
padding-top:1%;
z-index:1;
visibility:hidden;
}

#emailInput{
width:90%;
height:30%;
position:absolute;
top:2%;
left:5%;
right:50%;
font-size:12;
font-size:1vw;
border-style:solid;
border-color:#b3b3b3;
border-width:1px;
border-width:0.1vw;
padding:1%;
}

#passwordInput{
width:90%;
height:30%;
position:absolute;
top:34%;
left:5%;
right:50%;
font-size:12;
font-size:1vw;
border-style:solid;
border-color:#b3b3b3;
border-width:1px;
border-width:0.1vw;   
padding:1%; 
}

#submitLogin{
width:90%;
height:20%;
position:absolute;
top:66%;
left:5%;
background-color:#ff9224;
border-style:none;
color:white;
font-weight:bold;
font-size:10px;
font-size:1.0vw;
-webkit-appearance:none;
border-radius:0px;
}

#createAccountLink{
color:#4d4d4d;
width:90%;
font-size:11.5;
font-size:0.9vw;
height:3%;
position:absolute;
left:5%;
top:86%;
}

#categoryTable{
position:absolute;
width:100%;
height:70%;
top:101.5%;
left:0;
padding-left:2%;
background-color:white;
border-bottom:solid;
border-color:#f2f2f2;
border-width:1px;
border-width:0.1vw;
}

.categoryButton{
background-color:white;
border-style:none;
width:100%;
height:100%;  
font-size:12;  
font-size:1vw;
}



